<h2>Lista de Gastos</h2>
<div class="row justify-content-center">
  <div class="col-md-auto">
    <button type="button" class="btn btn-primary" [routerLink]="['/gastos','cadastrar','']">Novo</button>
  </div>
  <div class="col-md-9">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Filtro por período: Inicio | Fim</span>
      </div>
      <input type="date" aria-label="inicio" class="form-control" name="inicio" id="inicio" value="{{inicio}}"
        [(ngModel)]="inicio" [ngModelOptions]="{standalone: true}">
      <input type="date" aria-label="fim" class="form-control" name="fim" id="fim" value="{{fim}}" [(ngModel)]="fim"
        [ngModelOptions]="{standalone: true}">
      <button type="button" class="btn btn-dark form-control" (click)="atualizaGastos(this.inicio,this.fim)">Filtrar</button>
    </div>
  </div>
  <div class="col-md-auto">
    <button type="button" class="btn btn-success" [routerLink]="['/relatorio']" [queryParams]="{inicio: this.inicio, fim: this.fim}" >Gerar Graficos</button>
  </div>
</div>
<div class="row p-3">
<div class="table-responsive">
  <table class="table table-striped table-sm" id="tbl">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Categoria</th>
        <th>Vencimento</th>
        <th>Data Pag.</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let gast of gastos">
        <tr>
          <td>{{gast.nome}}</td>
          <td>
            {{gast.valor | currency:'BRL':'symbol':'1.2-2'}}
          </td>
          <td *ngIf="(gast.categoriaGasto != null)">
            {{gast.categoriaGasto.descricao}}
          </td>
          <td *ngIf="(gast.categoriaGasto == null)">
            SEM CATEGORIA
          </td>
          <td>{{gast.vencimento | date: 'dd-MM-yyyy'}}</td>
          <td *ngIf="gast.dtPagamento">{{gast.dtPagamento | date: 'dd-MM-yyyy'}} <br>
            <button type="button" class="btn" (click)="cancelarPagamento(gast.cod)">
              <i class="material-icons">
                undo
              </i> Cancelar Pag.</button></td>

          <td *ngIf="!gast.dtPagamento"><button type="button" class="btn" (click)="getGasto(gast.cod)" data-toggle="modal" data-target="#pagamentoModal">
              <i class="material-icons">
                payment
              </i> Pagar</button>
          </td>
          <td>
            <button type="button" class="btn" [routerLink]="['/gastos','editar', gast.cod]">
              <i class="material-icons">
                edit
              </i>
            </button>
          </td>
          <td>
            <button type="button" class="btn" (click)="excluir(gasto)">
              <i class="material-icons">
                delete
              </i>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <!-- Modal -->
  <div class="modal fade" id="pagamentoModal" tabindex="-1" role="dialog"
  aria-labelledby="pagamentoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="pagamentoModal">Efetuar Pagamento</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form class="was-validated">
                  <div class="input-group">
                      <input type="date" class="form-control" id="dataPagamento"
                          value="{{this.gasto.dtPagamento}}" placeholder="dataPagamento"
                          [(ngModel)]="this.gasto.dtPagamento" [ngModelOptions]="{standalone: true}" required
                          autofocus>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-primary"
                  (click)="this.pagamento()" [disabled]="this.ativaFormCategoriaGasto()">Pagar</button>
          </div>
      </div>
  </div>
</div>
</div>
