<h2>Lista de Gastos</h2>
<div class="row justify-content-center">
  <div class="col-md-auto">
    <button type="button" class="btn btn-primary" [routerLink]="['/gastos','cadastrar','']">Novo</button>
  </div>
  <div class="col-md-9">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Filtro por período: Inicio | Fim</span>
      </div>
      <input type="date" aria-label="inicio" class="form-control" name="inicio" id="inicio" value="{{inicio}}"
        [(ngModel)]="inicio" [ngModelOptions]="{standalone: true}">
      <input type="date" aria-label="fim" class="form-control" name="fim" id="fim" value="{{fim}}" [(ngModel)]="fim"
        [ngModelOptions]="{standalone: true}">
      <button type="button" class="btn btn-dark form-control" (click)="atualizaGastos(this.inicio,this.fim)">Filtrar</button>
    </div>
  </div>
  <div class="col-md-auto">
    <button type="button" class="btn btn-success" [routerLink]="['/relatorio']" [queryParams]="{inicio: this.inicio, fim: this.fim}" >Gerar Graficos</button>
  </div>
</div>
<div class="row p-3">
<div class="table-responsive">
  <table class="table table-striped table-sm" id="tbl">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Categoria</th>
        <th>Vencimento</th>
        <th>Data Pag.</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let gasto of gastos">
        <tr>
          <td>{{gasto.nome}}</td>
          <td>
            {{gasto.valor | currency:'BRL':'symbol':'1.2-2'}}
          </td>
          <td *ngIf="(gasto.categoriaGasto != null)">
            {{gasto.categoriaGasto.descricao}}
          </td>
          <td *ngIf="(gasto.categoriaGasto == null)">
            SEM CATEGORIA
          </td>
          <td>{{gasto.vencimento | date: 'dd-MM-yyyy'}}</td>
          <td *ngIf="gasto.dtPagamento">{{gasto.dtPagamento | date: 'dd-MM-yyyy'}} <br>
            <button type="button" class="btn" (click)="pagamento(gasto.cod,'estornado')">
              <i class="material-icons">
                undo
              </i> Estornar</button></td>

          <td *ngIf="!gasto.dtPagamento"><button type="button" class="btn" (click)="pagamento(gasto.cod,'pago')">
              <i class="material-icons">
                payment
              </i> Pagar</button>
          </td>
          <td>
            <button type="button" class="btn" [routerLink]="['/gastos','editar', gasto.cod]">
              <i class="material-icons">
                edit
              </i>
            </button>
          </td>
          <td>
            <button type="button" class="btn" (click)="excluir(gasto)">
              <i class="material-icons">
                delete
              </i>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
