<div class="row">
	<div class="col-4">
	</div>
	<div class="col-4 align-items-center text-center">
		<form class="form-signin" method="POST" (ngSubmit)="login()">
			<h1 class="h3 mb-3 font-weight-normal">Faça login</h1>
			<label for="inputEmail" class="sr-only">Email</label>
			<input type="email" id="email" class="form-control" placeholder="Seu email" [(ngModel)]="usuarioTemp.email"
				[ngModelOptions]="{standalone: true}" required autofocus>
			<label for="inputPassword" class="sr-only">Senha</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Senha"
				[(ngModel)]="usuarioTemp.senha" [ngModelOptions]="{standalone: true}" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
			<button class="btn btn-lg btn-success btn-block" type="button" [routerLink]="['/cadastro-usuario']">Cadastrar-se</button>
			<p class="mt-5 mb-3 text-muted">© 2019</p>
		</form>
	</div>
	<div class="col-3">
	</div>
</div>