<h2>Lista de fontes de renda</h2>
<div class="row">
  <div class="col-md-auto">
    <button type="button" class="btn btn-primary" [routerLink]="['/fontes-de-renda','cadastrar','']">Novo</button>
  </div>
  <div class="col-md-9">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Filtro por período: Inicio | Fim</span>
      </div>
      <input type="date" aria-label="inicio" class="form-control" name="inicio" id="inicio" value="{{inicio}}"
        [(ngModel)]="inicio" [ngModelOptions]="{standalone: true}">
      <input type="date" aria-label="fim" class="form-control" name="fim" id="fim" value="{{fim}}" [(ngModel)]="fim"
        [ngModelOptions]="{standalone: true}">
      <button type="button" class="btn btn-dark form-control" (click)="atualizaFontesDeRenda(this.inicio,this.fim)">Filtrar</button>
    </div>
  </div>
</div>
<div class="row p-3">
  <div class="table-responsive">
    <table class="table table-striped table-sm" id="tbl">
      <thead>
        <tr>
          <th>
            Descrição
		  </th>
		  <th>
            Valor
		  </th>
		  <th>
            Validade
          </th>
          <th>Editar</th>
          <th>Excluir</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fonteDeRenda of fontesDeRenda">
          <td>
            {{fonteDeRenda.descricao}}
		  </td>
		  <td>
            {{fonteDeRenda.valor | currency:'BRL':'symbol':'1.2-2'}}
		  </td>
		  <td>
            {{fonteDeRenda.dtValidade | date: 'dd-MM-yyyy'}}
          </td>
          <td>
            <button type="button" class="btn" [routerLink]="['/fontes-de-renda','editar', fonteDeRenda.cod]">
              <i class="material-icons">
                edit
              </i>
            </button>
          </td>
          <td>
            <button type="button" class="btn" (click)="excluir(fonteDeRenda)">
              <i class="material-icons">
                delete
              </i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>