<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-primary">Total de Gastos: R$ {{totalGastos}}</button>
            <button type="button" class="btn btn-success">Total de Renda: R$ {{totalRenda}}</button>
            <button type="button" class="btn btn-info">Sobra: R$ {{sobra}}</button>
        </div>
    </div>
</div>